body {
  background-color: #598899;
  font-family: "Cairo", sans-serif;
  font-weight: 500;
  color: #006666;
  text-align: center;
}
header {
  height: 40px;
}
a {
  color: #ff9933;
}
.weather-app {
  background-color: #ffc73e;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px 30px 15px 30px;
  border-radius: 16px;
  box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.2);
}
.search-form-input {
  background-color: #fdedbe;
  border: none;
  border-radius: 3px;
  width: 75%;
  font-size: 16px;
  padding: 10px 20px;
}
.search-form-button {
  background-color: #ff9933;
  border: none;
  border-radius: 6px;
  padding: 11px 30px;
  width: 20%;
  color: #fdedbe;
  font-size: 16px;
  margin-left: 5px;
}
.temperature-data {
  height: 246px;
  text-align: center;
  display: block;
  justify-content: space-around;
}
.city {
  font-size: 41px;
  font-weight: 700;
}
.temperature {
  position: relative;
  top: -58px;
  left: -9px;
  font-size: 150px;
  font-weight: 900;
  height: 170px;
}
.temperature-unit {
  position: relative;
  top: -144px;
  left: 75px;
  font-size: 20px;
  font-weight: 900;
}

footer {
  border-top: 1px solid #ff9933;
  padding-top: 15px;
  text-align: center;
  font-size: 10px;
}
